/* Mobile screen */
/* Mobile Responsive CSS for screens between 320px and 465px */
@media (min-width: 320px) and (max-width: 479px) {
 
  #header .nav-center::before{
    height:300px;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;
    background-color: #333;
    padding:15px;
    text-align: center;
  }
  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-right {
    display: flex;
  }

  p.notify-icon {
    display: none;
  }

  p.menu-icon {
    visibility: visible; /* Ensures the menu icon is visible */
  }

  /* Hide Navigation Center */
  .nav-center {
    display: block;
  }
  #aboutUs
  {
    padding:0px;
  }
  .about-us
  {
    flex-direction: column;
  }
  .aboutUs-content
  {
    width:85%;
  }
  .aboutUs-image
  {
    margin-top: 30px;
  }
  #hero-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
  }

  /* Hero Banner Positioning */

  /* Title Styles */
  .title {
    font-size: 24px;
  }

  /* Content Body Font Size */
  .content-body {
    font-size: 10px;
  }

  .hero-image {
    height: 200px;
  }
 .aboutUs-content
 {
  margin-top: 15px;
 }
  /* Features Section */
  #features {
    padding: 0;
  }
  .feature-content {
    /* padding-left: 50px;
    margin-top: 0px; */
  }
  .feature-card {
    flex-direction: column;
    max-width: 75%;
    text-align: center;
    padding: 8px;
    margin-top: 14px;
    border: 0.4px solid #1f1f1f;
  }
  .feature-icon {
    font-size: 16px;
    color: #3f34db;
    margin-bottom: 15px;
  }
  .feature-title {
    font-size: 28px;
  }
  .feature-card p {
    font-size: 14px;
  }

  /* Card Layout */
  .card {
    width: 100%;
    height: inherit;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0px;
  }
  .card-overlay {
    bottom: 20px;
    box-sizing: border-box;
  }

  .card-subtitle {
    font-size: 20px;
  }
  .card-img {
    width: 100%;
    height: inherit;
  }
  .card-txt {
    font-size: 14px;
    text-align: justify;
    padding: 15px;
  }
  .card:hover .card-overlay {
    width: 100%;
    height: 100%;
    background: none;
    box-sizing: border-box;
  }
  /* FAQ Section */
  #faq {
    padding-left: 10px;
  }
  .accordian {
    padding: 4px 12px;
  }

  /* Contact Us Section */
  #contact-us
  {
    padding:0;
    margin:0 12px;
  }
  .contact-container  {
    padding: 0;
  }
  .contact-inputs {
    width: 90%;
    height: 40px;
  }
  .contact-left-title
  {
    margin-top:15px;
  }
  .contact-left textarea {
    height: 52px;
  }
  .contact-right {
    display: none;
  }
  .contact-btn {
    padding: 10px 22px;
  }

  /* Footer Section */
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 0px; */
  }

  .logo {
    font-size: 16px;
  }

  .footer-body {
    font-size: 10px;
  }
  .footer-title {
    font-size: 18px;
  }
  .footer-link {
    font-size: 12px;
    color: rgb(208, 208, 208);
  }
  .footer-email,
  .footer-phno {
    font-size: 14px;
  }
  .social-links {
    color: var(--primary-color);
  }
}

/* Tablet */
@media (min-width: 320px) and (max-width: 768px) {
  .nav-center
  {
    display:none;
  }

  p.notify-icon {
    display: none;
  }
  .menu-icon {
    visibility: visible;
  }
  #hero-content {
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .hero-banner 
  {
    top:0px;
  }
  .hero-image {
    width: 100%;
    height: 235px;
  }
  .title {
    font-size: 24px;
    text-align: center;
  }
  .content-body {
    font-size: 13px;
  }
  .feature-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .feature-card {
    flex: 1 1 calc(50% - 16px);
  }
  .feature-title {
    font-size: 32px;
    font-weight: 600;
  }
  .feature-card p {
    font-size: 14px;
  }
  .card-title {
    font-size: 28px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card-overlay {
    width: 100%;
  }
  .card-subtitle {
    font-size: 20px;
  }
  .card-txt {
    font-size: 14px;
    padding: 12px;
  }
  .card:hover .card-overlay {
    width: 100%;
   
  }
  #faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 15px;
    margin: 0 14px;
  }
  .faq-title {
    font-size: 24px;
  }
  .faq-subtitle,
  .faq-body {
    display: none;
  }
  .faq-question-card {
    flex-direction: column;
    padding: 10px;
    margin: 20px;
  }
  .contact-right {
    display: none;
  }
  .footer-content {
    margin-top: 0px;
    gap: 20px;
  }
}
/* laptop */
@media (min-width: 769px) and (max-width:1024px) {
  .nav-center {
    display:block;
    left:245px;
    top:-12px;
   
  }
  .notify-icon
  {
    display:none;
  }
  .menu-icon
  {
    visibility:visible;
  }
  #hero-content {
    height: 100vh;
    padding: 40px 0px;
  }
  .title {
    font-size: 26px;
    text-align: center;
  }
  .content-body {
    font-size: 14px;
  }
  #cards {
    margin:50px;
  }
  .card-container {
    gap: 10px;
    padding-top: 0px;
  }
  .card-img {
    width: 500px;
  }
  #faq {
    padding: 20px;
  }
  .contact-container {
    padding: 30px 0;
  }

  .faq-subtitle,
  .faq-body {
    display: none;
  }

  #contact-us {
    padding: 0 40px;
  }
  .contact-container {
    gap: 40px;
  }
}

@media (min-width:1024px)and(max-width:1440px)
 {
  .nav-center {
    display:block;
    left:380px;
    top:-4px;
  }
}